/* 🌸 Global */
.layout {
  max-width: 100%;
  min-height: 100vh;
  background: #ffe4e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 🌸 Conteneur principal */
.main {
  max-width: 600px;
  margin: 120px auto 20px;
  padding: 25px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
