/* Home.css */

.home-container {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 150px; /* Assure que le titre n'est pas caché sous la navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-title {
  font-size: 2rem;
  color: #8a2be2;
  font-weight: bold;
  margin-bottom: 20px;
}

.task-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.task-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.filter-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-label {
  font-weight: bold;
  color: #fadadd;
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.filter-select {
  padding: 10px;
  border: 2px solid #d4a5ff;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  max-width: 250px;
}

@media (max-width: 768px) {
  .home-container {
    padding: 15px;
    padding-top: 160px; /* Ajuste encore plus sur mobile */
  }

  .task-wrapper {
    width: 100%;
  }

  .task-section {
    padding: 15px;
    max-width: 90%;
  }

  .home-title {
    font-size: 1.6rem;
  }
}
